# API keys and secrets
.env

# Debug log from npm
npm-debug.log

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode/settings.json

# OS metadata
.DS_Store
Thumbs.db:encryptable
Thumbs.db
ehthumbs.db
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Ignore built ts files
dist/**/*

# VS Code
.vscode/*

